{{#if localUsuario}}
<nav class="navbar navbar-expand-lg" style="background-color: #beccff">
  <div class="container-fluid">
   
    <a class="navbar-brand " href="/routegames">Polla mundialista</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"   id="navbarSupportedContent">
      
      
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/routegames">
            <img src="/img/iconos/game-by-group.png" alt="" width="15%"> Apuesta grupos
          </a>
        </li>
   

     

        <li class="nav-item dropdown ">
          {{#if enableMenuPhases}}
          <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{else}}
          <a class="nav-link disabled" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{/if}}  
            <img src="/img/iconos/game-by-phase.png" width="15%" alt=""> Apuesta fases
          </a>
          <ul class="dropdown-menu ">
          <li><a class="dropdown-item" href="/eighth">Mis apuestas octavos</a></li>
            {{#if octavosCompleted}}
            <li><a class="dropdown-item" href="/fourth">Mis apuestas cuartos</a></li>
            {{else}}
            <li><a class="dropdown-item disabled" href="/fourth">Mis apuestas cuartos</a></li>
            {{/if}}
            {{#if cuartosCompleted}}
            <li><a class="dropdown-item" href="/semi">Mis apuestas semifinal</a></li>
            {{else}}
            <li><a class="dropdown-item disabled" href="/semi">Mis apuestas semifinal</a></li>
            {{/if}}
            {{#if semiCompleted}}
            <li><a class="dropdown-item" href="/finals">Mis apuestas final</a></li>
            {{else}}
            <li><a class="dropdown-item disabled" href="/finals">Mis apuestas final</a></li>
            {{/if}}
          </ul>
        </li>




             <li class="nav-item dropdown">
          <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/img/iconos/point.png" width="15%" alt=""> Puntajes
          </a>
          <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/detailpoints">Mi puntaje</a></li>
            {{!-- <li><a class="dropdown-item" href="/detailpointsgamers">Otros apostadores</a></li> --}}
            <li><a class="dropdown-item" href="/detailpointsgamersoptimizated">Otros apostadores</a></li>
          </ul>
        </li>



       <li class="nav-item dropdown">
          <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/img/iconos/profile.png" width="15%" alt=""> {{localName}}
          </a>
          <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="/profile">Editar perfil</a></li>
            <li><a class="dropdown-item" href="/password">Cambiar contraseña</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/auth/logout">Cerrar sesion</a></li>
          </ul>
        </li>



      </ul>
   
    </div>
  </div>
</nav>


      {{#if localAdmin}}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{localAdmin}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/users">Datos de usuarios</a></li>
            <li><a class="dropdown-item" href="/admin/pass-restore">Restablecer contraseña</a></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">#</a></li>
            <li><a class="dropdown-item" href="#">#</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/auth/logout">Cerrar sesion</a></li>
          </ul>
        </li>
      </ul>
      {{/if}}

    </div>
  </div>
</nav>
{{/if}}